@import "../../../data/styles.css";

.works-body {
	margin-bottom: 10px;
}

.work {
	display: flex;
	padding-bottom: 40px;
	width: 100%;
}

.work-image {
	height: 40px;
	width: 40px;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
	padding: 5px;
	border-radius: 3px;
}

.work-title {
	font-size: 15px;
	font-weight: 700;
	margin-top: -3px;
	color: var(--secondary-color);
}

.work-subtitle {
	font-size: 12px;
	color: var(--secondary-color);
}

.work-duration {
	font-size: 12px;
	color: var(--tertiary-color);
}

.work-details {
	margin-left: 20px;
	width: 90%;
}

.work-date {
	display: flex;
	justify-content: space-between;
	width: 100%;
}